{% extends "base.html" %} {% block main %} 
{% load static %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
               <div class="container-fluid">
                    <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Comments</h1>
                    </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                             <div class="card">
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th style="width: 1%">no</th>
                                                <th>ID</th>
                                                <th>Content ID</th>
                                                <th>Date</th>
                                                <th>Text</th>
                                                <th>User ID</th>
                                                {% comment %} <th style="width: 5%">Action(s)</th> {% endcomment %}
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for x in tampil %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ x.id }}</td>                                             
                                                <td>{{ x.content_id }}</td>                                             
                                                <td>{{ x.date }}</td>                                             
                                                <td>{{ x.text }}</td>                                             
                                                <td>{{ x.user_uid }}</td>                                             
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        {% comment %} <tfoot>
                                            <tr>
                                                <th>Rendering engine</th>
                                                <th>Browser</th>
                                                <th>Platform(s)</th>
                                            </tr>
                                        </tfoot> {% endcomment %}
                                    </table>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
{% endblock %} 