{% extends "base.html" %} {% block main %} {% load static %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Users</h1>
        </div>
        <div class="col-sm-6"></div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          {% comment %} {{ tampil.id }} {{tampil.title }} {{ tampil.description
          }} {% endcomment %}
          <form method="POST">
            {% csrf_token %}
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Update User</h3>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <label for="exampleInputBorder">ID</label>
                  <input
                    type="text"
                    class="form-control form-control-border"
                    id="exampleInputBorder"
                    placeholder=""
                    value="{{ tampil.id }}"
                    name="id"
                    disabled
                  />
                </div>
                <div class="form-group">
                  <label for="exampleInputBorder">Name</label>
                  <input
                    type="text"
                    class="form-control form-control-border"
                    id="exampleInputBorder"
                    placeholder=""
                    value="{{ tampil.name }}"
                    name="name"
                  />
                </div>
                <div class="form-group">
                  <label for="exampleInputBorder">Email</label>
                  <input
                    type="text"
                    class="form-control form-control-border"
                    id="exampleInputBorder"
                    placeholder=""
                    value="{{ tampil.email }}"
                    name="email"
                  />
                </div>
                <div class="form-group">
                  <label>Gender</label>
                  <select
                    class="form-control select2bs4"
                    style="width: 40%"
                    name="gender"
                  >
                    <option {% if tampil.gender == 'L' %}
                    selected
                    {% endif %}
                    value="L">Laki-laki</option>
                    <option 
                    {% if tampil.gender == 'P' %}
                    selected
                    {% endif %}
                     value="P">Perempuan</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Birthday</label>
                  <div
                    class="input-group date"
                    id="reservationdate"
                    data-target-input="nearest"
                  >
                    <input
                      type="text"
                      class="form-control datetimepicker-input"
                      data-target="#reservationdate"
                      name="birthday"
                      value="{{ tampil.bday }}"
                    />
                    <div
                      class="input-group-append"
                      data-target="#reservationdate"
                      data-toggle="datetimepicker"
                    >
                      <div class="input-group-text">
                        <i class="fa fa-calendar"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-primary float-right">
                  Submit
                </button>
              </div>
            </div>
          </form>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}
